.row-bottom-margin {
    margin-bottom: 0px;
}

.nopadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
}

.tpadding {
    vertical-align: middle !important;
}

.bpadding {
    padding-bottom: 5px
}
